body {
    background: #efefef;
    margin: 0;
    padding: 0;
    font: 20px 'Roboto', Arial, sans-serif;
}

canvas {
    margin: 0 auto;
    padding: 0;
}

header {
    padding-top: 20px;
}

header .logo {
    border-radius: 4px 4px 0 4px;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

#gameButton {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}

#gameButton input {
    margin-top: 250px;
    margin-bottom: 10px;
    background-color: #72bf44;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font: 25px 'Roboto';
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    outline: none;
}

#not_available {
    position: absolute;
}

#lampOff {
    display: none;
    width: 108px;
    height: 140px;
    position: absolute;
    margin-top: 86px;
    margin-left: 766px;
}

#images {
    position: relative;
    margin: 0 auto;
    height: 350px;
}

.blink {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    70% {
        opacity: 0.4;
    }
}

#phaser-demo {
    display: block;
}

.mid {
    width: 960px;
    margin: 0 auto;
}

.mid a {
    text-align: center;
}

#container {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

#phaser-demo {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#infoi {
    width: 800px;
    height: 600px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.game {
    padding-bottom: 20px;
}

.area {
    outline: none;
}

.pulse {
    justify-content: center;
    align-items: center;
    background: #0c5b00;
    animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(114, 190, 68, 0.5);
    }
    100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}